<app-header [pathsTree]="['SAT', 'Practice Test1', data.title]" subHeaderText3="60 minutes left"
            rightBtnTitle="Finish this Section" (rightBtnClick)="onFinishSectionClick()"></app-header>

<div class="container-fluid dashboard-content-container has-subheader">
  <div class="content">

    <div class="row practice-content">

      <div class="col-md-6 left-content">
        <h1>Agriculture iron and Bantu people</h1>
        <p [innerHTML]="descriptionText"></p>
      </div>

      <div class="col-md-6 right-content">

        <ng-container *ngFor="let item of getQuestionsForCurrentPage(); let idx=index">

          <div class="question-count">
            Question {{(currentIndex * questionsPerpage + idx + 1) }} of {{questions.length}}
          </div>


          <!-- For multine text answer-->
          <ng-container *ngIf="item.questionType === 'multilinetext'">
            <h1 class="question">{{item.title}}</h1>

            <div class="form-group textarea-input">
              <label>Answer</label>
              <div class="input-group">
                <textarea id="message" class="form-control"
                          placeholder="Write your answer here..."
                          [(ngModel)]="item.answer"
                          [maxlength]="maxMessageLength"
                          [ngClass]="{ 'is-invalid': submitted  }"></textarea>

                <div class="message-length">
                  {{(maxMessageLength - item.answer.length)}}/{{maxMessageLength}} characters
                  remaining
                </div>
              </div>
            </div>
          </ng-container>

          <!-- For Single/Multiple choice answer-->
          <ng-container
            *ngIf="item.questionType === 'singlechoice' || item.questionType === 'multichoice'">

            <h2 class="question">{{item.title}}</h2>

            <div class="answer-type">Choose {{item.questionType != 'singlechoice' ? 'multiple' : '1'}}
              answer
            </div>

            <ng-container *ngIf="item.questionType === 'singlechoice'">
              <app-answer-choice-item
                *ngFor="let subItem of item.answers"
                [selected]="subItem.selected"
                [index]="subItem.index"
                [title]="subItem.title"
                (click)="subItem.selected=!subItem.selected"
              ></app-answer-choice-item>
            </ng-container>

            <ng-container *ngIf="item.questionType === 'multichoice'">
              <app-answer-multiple-choice-item
                *ngFor="let subItem of item.answers"
                [selected]="subItem.selected"
                [title]="subItem.title"
                (click)="subItem.selected=!subItem.selected"
              ></app-answer-multiple-choice-item>
            </ng-container>

          </ng-container>



<!--          <ng-container *ngIf="item.questionType === 'video'">-->
<!--            <iframe class="video-view" [src]="item.link | safe:'resourceUrl'" frameborder="0"-->
<!--                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
<!--                    allowfullscreen></iframe>-->
<!--          </ng-container>-->

        </ng-container>

      </div>

    </div>

    <div class="row practice-footer">
      <button mat-button color="primary" (click)="onBack()">
        Directions
      </button>
      <div style="display: flex;flex:1;"></div>

      <button *ngIf="currentIndex>0" mat-button color="primary" (click)="onPrevious()">
        Back to
        question {{(currentIndex * questionsPerpage + 1) + "-" + (currentIndex * questionsPerpage + questionsPerpage)}}
      </button>


      <button *ngIf="currentIndex === (totalPages - 1); else nextPageBtn" mat-raised-button color="primary"
              (click)="openDialog()">
        Finish this Section
      </button>

      <ng-template #nextPageBtn>
        <button mat-raised-button color="primary" (click)="onNext()">
          Continue to
          question {{((currentIndex + 1) * questionsPerpage + 1) + "-" + ((currentIndex + 1) * questionsPerpage + questionsPerpage)}}
        </button>
      </ng-template>

    </div>
  </div>
</div>

<app-footer></app-footer>
