<app-header [pathsTree]="pathsTree"
            [subHeaderText3]="(examSessionData&&examSessionData.duration?examSessionData.duration:0)+' minutes left'"
            rightBtnTitle="Finish this Section" (rightBtnClick)="finishSection()"></app-header>

<div class="container-fluid dashboard-content-container has-subheader">
  <app-alert></app-alert>

  <div class="content">

    <div class="row practice-content">

      <ng-container *ngIf="examSectionSets && examSectionSets.length>currentSetIndex">
        <div *ngIf="shouldVideoClipPlay(); else setsContent;" class="video-clip-view">
          <div class="passage-info">
            <h3>Review the following passage and continue</h3>
            <p>
              Listen to a conversation between student and his student at the career development office.
              <br/>
              <br/>
              You will not be able to replay this video once you play.
            </p>
          </div>

          <div class="video-view-container">
            <video
              controls
              class="video-view"
              #videoPlayer
              (ended)="videoEnd($event)">
              <source [src]="examSectionSets[currentSetIndex].videoUri" type="video/mp4"/>
              Browser not supported
            </video>

            <ion-button *ngIf="!isVideoPlaying" slot="icon-only" class="video-play-btn" (click)="playVideo($event)">
              <ion-icon name="play"></ion-icon>
            </ion-button>
          </div>

        </div>
        <ng-template #setsContent>

          <div class="col-md-6 question-content" *ngIf="currentQuestion">

            <div class="speaking-time-text-view"
                 *ngIf="examSessionData.sectionData.name==EnumService.examSectionTypes.SPEAKING">
              <div class="time-text">
                <ion-icon name="ellipse-sharp"></ion-icon>
                <span>Preparation time: 20 seconds</span>
              </div>
              <div class="time-text">
                <ion-icon name="ellipse-sharp"></ion-icon>
                <span>Response time: 60 seconds</span>
              </div>
            </div>

            <div class="question-count" *ngIf="examSectionSets && examSectionSets.length>currentSetIndex">
              Question {{(currentIndex + 1) }} of {{examSectionSets[currentSetIndex].questions.length}}
            </div>

            <!-- Text type question-->
            <h1 class="question" *ngIf="currentQuestion.text" [innerHTML]="currentQuestion.text"></h1>

            <!-- Audio type question-->
            <div class="audio-question" *ngIf="currentQuestion.audioUri">
              <div class="icon-container">
                <div class="center-color"></div>
                <ion-icon name="play-circle" *ngIf="!currentQuestion.playing"
                          (click)="playAudio(currentQuestion)"></ion-icon>
                <ion-icon name="pause-circle" *ngIf="currentQuestion.playing"
                          (click)="stopAudio(currentQuestion)"></ion-icon>
              </div>

              <div class="audio-info">
                <span *ngIf="!currentQuestion.playing; else audioProgressInfo">Tap to listen your question</span>
                <ng-template #audioProgressInfo>
                  <span>{{currentQuestion.audioPlayRef ? UtilService.secondsToMinuteSecond(currentQuestion.audioPlayRef.currentTime) : '00:00'}}</span>
                  <ion-progress-bar color="secondary"
                                    [value]="currentValueOfProgressBar()"></ion-progress-bar>
                  <span>{{currentQuestion.audioPlayRef ? UtilService.secondsToMinuteSecond(currentQuestion.audioPlayRef.duration) : '00:00'}}</span>
                </ng-template>
              </div>
            </div>

            <!-- Img type question-->
            <img class="question-img" *ngIf="currentQuestion.imageUri"
                 [src]="currentQuestion.imageUri"/>


            <!-- For Singleline text answer-->
            <ng-container
              *ngIf="currentQuestion.typeId === EnumService.examQuestionTypes.VERIFIABLE_TEXT_SINGLE_LINE || currentQuestion.typeId === EnumService.examQuestionTypes.UNVERIFIABLE_TEXT_SINGLE_LINE">

              <div class="form-group text-input">
                <label>Answer</label>
                <div class="input-group">
                  <ion-input class="form-control"
                             placeholder="Write your answer here..."
                             [(ngModel)]="currentQuestion.answerInput"
                             [ngClass]="{ 'is-invalid': submitted  }"></ion-input>
                </div>
              </div>
            </ng-container>
            <!-- For Singleline text answer-->

            <!-- For multine text answer-->
            <ng-container
              *ngIf="currentQuestion.typeId === EnumService.examQuestionTypes.VERIFIABLE_TEXT_MULTI_LINE || currentQuestion.typeId === EnumService.examQuestionTypes.UNVERIFIABLE_TEXT_MULTI_LINE">

              <div class="form-group textarea-input">
                <label>Answer</label>
                <div class="input-group">
                <textarea id="message" class="form-control"
                          placeholder="Write your answer here..."
                          [(ngModel)]="currentQuestion.answerInput"
                          [maxlength]="maxMessageLength"
                          [ngClass]="{ 'is-invalid': submitted  }"></textarea>

                  <div class="message-length">
                    {{(maxMessageLength - currentQuestion.answer?.length)}}/{{maxMessageLength}} characters
                    remaining
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- For Single/Multiple choice answer-->
            <ng-container
              *ngIf="currentQuestion.typeId === EnumService.examQuestionTypes.MULTIPLE_CHOICE_SINGLE_SELECT || currentQuestion.typeId === EnumService.examQuestionTypes.MULTIPLE_CHOICE_MULTIPLE_SELECT">

              <div class="answer-type">
                Choose {{(currentQuestion.typeId === EnumService.examQuestionTypes.MULTIPLE_CHOICE_MULTIPLE_SELECT) ? 'multiple' : '1'}}
                answer
              </div>

              <ng-container
                *ngIf="currentQuestion.typeId === EnumService.examQuestionTypes.MULTIPLE_CHOICE_SINGLE_SELECT">
                <app-answer-choice-item
                  *ngFor="let subItem of currentQuestion.choices; let index=index"
                  [selected]="subItem.selected"
                  [index]="index"
                  [title]="subItem.text"
                  [imageUri]="subItem.imageUri"
                  (click)="singleChoiceItemSelect(currentQuestion, subItem)"
                ></app-answer-choice-item>
              </ng-container>

              <ng-container
                *ngIf="currentQuestion.typeId === EnumService.examQuestionTypes.MULTIPLE_CHOICE_MULTIPLE_SELECT">
                <app-answer-multiple-choice-item
                  *ngFor="let subItem of currentQuestion.choices; index as id"
                  [selected]="subItem.selected"
                  [title]="subItem.text"
                  [imageUri]="subItem.imageUri"
                  (click)="subItem.selected=!subItem.selected"
                ></app-answer-multiple-choice-item>
              </ng-container>
            </ng-container>

            <!-- End --- For Single/Multiple choice answer-->

            <!-- For drag and drop choice question-->
            <ng-container *ngIf="currentQuestion.typeId === EnumService.examQuestionTypes.DRAG_DROP">
              <div cdkDropListGroup>

                <ion-list
                  class="group-list"
                  *ngFor="let group of currentQuestion.groups; let idx=index"
                >
                  <ion-list-header>
                    {{group.text}}
                  </ion-list-header>

                  <div
                    cdkDropList
                    [cdkDropListData]="group.answered"
                    class="group-drop-list"
                    (cdkDropListDropped)="drop($event)"
                  >
                    <ion-item *ngIf="!group.answered || group.answered.length===0" cdkDrag>
                      <ion-label class="placeholder">Drop your choices here</ion-label>
                    </ion-item>
                    <ion-item *ngFor="let answer of group.answered" cdkDrag>
                      <ion-label>{{answer.text}}</ion-label>
                    </ion-item>
                  </div>

                </ion-list>

                <br/>

                <label>Answer Choices</label>
                <div class="answer-type" style="padding: 0">Drop your choices from here</div>
                <br/>

                <ion-list
                  lines="full"
                  cdkDropList
                  [cdkDropListData]="currentQuestion.items"
                  class="choice-item-list"
                  (cdkDropListDropped)="drop($event)">
                  <ion-item *ngFor="let choiceItem of currentQuestion.items" cdkDrag>
                    <ion-icon slot="start" src="./assets/images/Drag.svg"></ion-icon>
                    <ion-label>{{choiceItem.text}}</ion-label>
                  </ion-item>
                </ion-list>
              </div>
            </ng-container>
            <!-- End --- For drag and drop choice question-->

            <!-- For Audio Response answer-->
            <ng-container
              *ngIf="currentQuestion.typeId === EnumService.examQuestionTypes.AUDIO_RESPONSE">

              <div class="form-group audio-response">
                <div class="heading">Speak your reponse</div>

                <!-- Tap to record view-->
                <div class="audio-mic" *ngIf="!currentQuestion.recordingStart && !currentQuestion.audioPlayRef">
                  <div class="icon-container">
                    <div class="center-color"></div>
                    <ion-icon name="mic-circle" (click)="startRecording(currentQuestion)"></ion-icon>
                  </div>

                  <span>Tap to record your answer</span>
                </div>
                <!-- End -- Tap to record view-->

                <!-- Recording view -->
                <div class="audio-recording" *ngIf="currentQuestion.recordingStart && !currentQuestion.audioPlayRef">

                  <ion-img src="./assets/images/wave.png" class="wave-img"></ion-img>
                  <span class="record-duration">00:00</span>

                  <div style="flex:1"></div>

                  <div class="icon-container">
                    <div class="center-color"></div>
                    <ion-icon class="recording-pause" name="pause-circle" *ngIf="!currentQuestion.recordingPause"
                              (click)="pauseAudioRecording(currentQuestion)"></ion-icon>
                    <ion-icon class="recording-pause" name="play-circle" *ngIf="currentQuestion.recordingPause"
                              (click)="resumeAudioRecording(currentQuestion)"></ion-icon>
                  </div>
                  <ion-icon class="recording-stop" name="stop-circle"
                            (click)="stopAudioRecording(currentQuestion)"></ion-icon>


                </div>
                <!-- End -- Recording view -->

                <!-- Recorded result view -->
                <div class="audio-recorded" *ngIf="currentQuestion.audioPlayRef">
                  <div class="icon-container">
                    <div class="center-color"></div>
                    <ion-icon name="play-circle" *ngIf="!currentQuestion.playing"
                              (click)="playAudio(currentQuestion)"></ion-icon>
                    <ion-icon name="pause-circle" *ngIf="currentQuestion.playing"
                              (click)="stopAudio(currentQuestion)"></ion-icon>
                  </div>

                  <div class="audio-info">
                    <span>{{ UtilService.secondsToMinuteSecond(currentQuestion.audioPlayRef.currentTime)}}</span>
                    <ion-progress-bar color="secondary"
                                      [value]="currentValueOfProgressBar()"></ion-progress-bar>
                    <span>{{ UtilService.secondsToMinuteSecond(currentQuestion.audioPlayRef.duration)}}</span>
                  </div>


                  <div class="icon-container upload-recording">
                    <div class="center-color"></div>
                    <ion-icon name="cloud-upload" (click)="uploadAudio(currentQuestion)"></ion-icon>
                  </div>

                  <div class="icon-container remove-recording">
                    <div class="center-color"></div>
                    <ion-icon name="trash" (click)="removeAudio(currentQuestion)"></ion-icon>
                  </div>

                </div>
                <!-- End -- Recorded result view -->


              </div>
            </ng-container>
            <!-- For Singleline text answer-->


            <!--          <ng-container *ngIf="item.questionType === 'video'">-->
            <!--            <iframe class="video-view" [src]="item.link | safe:'resourceUrl'" frameborder="0"-->
            <!--                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
            <!--                    allowfullscreen></iframe>-->
            <!--          </ng-container>-->


          </div>
        </ng-template>
      </ng-container>
    </div>

    <div class="row practice-footer">
      <button mat-button color="primary" (click)="onBack()">
        Directions
      </button>
      <div style="display: flex;flex:1;"></div>

      <button *ngIf="currentIndex>0" mat-button color="primary" (click)="onPrevious()">
        Back to question {{(currentIndex)}}
      </button>


      <ng-container *ngIf="!shouldVideoClipPlay() && examSectionSets && examSectionSets.length>0;">
        <button *ngIf="currentIndex === (examSectionSets[currentSetIndex].questions.length-1); else nextPageBtn"
                mat-raised-button color="primary"
                (click)="finishSection()">
          Finish this Section
        </button>

        <ng-template #nextPageBtn>
          <button mat-raised-button color="primary" (click)="onNext()">
            Continue to question {{(currentIndex + 2)}}
          </button>
        </ng-template>
      </ng-container>

      <button *ngIf="shouldVideoClipPlay()" mat-raised-button color="primary" (click)="startSetQuestion()">
        Continue to question {{currentIndex + 1}}
      </button>

    </div>
  </div>
</div>

<app-footer></app-footer>


