.answer-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #E2DDE6;

  ion-checkbox {
    --border-color-checked: #5CCB8A;
    --background-checked: #5CCB8A;
    --border-color: #D2D2D2;
    --color-checked: #fff;
    margin-right: 8px;
    --size: 22px;
  }

  .answer-index {
    border: 2px solid #D2D2D2;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font: normal normal 500 11px/17px Montserrat;
    letter-spacing: 0.22px;
    color: #232323;
    opacity: 1;
    margin-right: 10px;

    &.active {
      border: 2px solid #5CCB8A;
      color: #5CCB8A;
    }
  }

  .answer-text {
    font: normal normal normal 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #140020;
    opacity: 1;
  }
}
