.footer {
  background-color: #58068c;
  padding: 30px 10px 0px;
  overflow: hidden;

  .list-view {
    mat-list-item {
      color: #ffffff;
      font-size: 12px;
      letter-spacing: 0px;
      height: 24px;

      &.heading {
        font-size: 18px;
        height: 40px;
      }
    }
  }

  .row.language {
    margin-left: 31px;
    margin-bottom: 10px;

    mat-label {
      margin-right: 16px;
      font: normal normal normal 12px/15px Montserrat;
      letter-spacing: 0px;
      color: #FFFFFF;
      opacity: 0.8;
    }


    ::ng-deep .mat-select-trigger {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .mat-select-value {
        font: normal normal normal 12px Montserrat;
        color: #FFFFFF;
        padding-left: 10px;
        max-width: none;
        opacity: 0.8;
      }

    }

    ::ng-deep .mat-form-field-infix {
      padding: 0 0 8px;
      padding: 0px 0 6px;
      width: 115px;
    }


    ::ng-deep mat-select .mat-select-arrow {
      font: normal normal normal 15px Montserrat;
      color: #FFFFFF;
      margin-right: 10px;
    }

    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
      background-color: #44036E !important;
      border-radius: 5px;
      padding: 0 10px;
    }


    button {
      font: normal normal 600 12px/15px Montserrat;
      letter-spacing: 0px;
      color: #FFFFFF;
    }
  }

  .row.country {
    margin: 0 31px 31px;
    display: flex;
    align-items: center;

    .title {
      font: normal normal normal 12px/15px Montserrat;
      letter-spacing: 0px;
      color: #FFFFFF;
      margin-right: 16px;
      margin-bottom: 6px;
    }

    .country-btn {
      font: normal normal normal 12px/15px Montserrat;
      letter-spacing: 0px;
      color: #FFFFFF;
      padding-left: 5px;
    }
  }

  .policy-copyright.row {
    padding: 5px 0;
    margin: 31px;
    display: flex;
    align-items: center;
    border-top: 0.30000001192092896px solid #A275BF !important;
  }

  .copyright-text {
    margin: 0;
    padding: 0px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }

  .no-padding {
    padding: 0 !important;
  }

  .term-ploicy-btn {
    font: normal normal 600 12px/15px Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
  }

  .social-btns {
    button {
      margin-left: 10px;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}


.contact-us-btn {
  width: 60px;
  height: 60px;
  background-color: #FFFFFF;
  position: fixed;
  bottom: 60px;
  z-index: 1000;
  left: calc(100% - 80px);

  img {
    width: 50%;
    height: 50%;
  }
}
