<app-header [pathsTree]="pathsTree" subHeaderText3="60 minutes left"
            rightBtnTitle="Finish this Section" (rightBtnClick)="onFinishSectionClick()"></app-header>

<div class="container-fluid dashboard-content-container has-subheader">

  <div class="content">

    <div class=" direction-content">
      <h1>{{sectionTitle}}</h1>

      <p>{{sectionDescription}}</p>

      <p style="font-weight: 600">
        Once you start the timer, you cannot pause this section.
      </p>
    </div>


    <div class="direction-footer">
      <!--      <button mat-button color="primary" (click)="onBack()">-->
      <!--        Go to lesson page-->
      <!--      </button>-->
      <div style="display: flex;flex:1;"></div>
      <button mat-raised-button color="primary" (click)="onNext()">
        Let's go, start the timer
      </button>
    </div>
  </div>
</div>

<app-footer></app-footer>
