.content {
  margin: 20px 80px;
  padding-bottom: 20px;
  background-color: #FFFFFF;
  border: 1px solid #D4D3D4;
  border-radius: 6px;


  .mat-button-disabled {
    opacity: 0.4;
    color: #ffffff;
  }

  h2 {
    font: normal normal bold 24px/29px Montserrat;
    letter-spacing: 0.72px;
    color: #140020;
    padding: 0 12px;
    margin-top: 30px;
  }

  .list-heading {
    font: normal normal 600 18px/22px Montserrat;
    letter-spacing: 0px;
    color: #656565;
    padding: 0 12px;
  }

  .row {
    width: 100%;
    margin: 0;
  }

  .practice-item {
    margin: 8px;
    display: flex;
    flex-direction: column;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 1px solid #D4D3D4;
    border-radius: 6px;
    padding: 16px;
    margin-top: 16px;

    h3 {
      font: normal normal 600 20px/24px Montserrat;
      letter-spacing: -0.2px;
      color: #140020;
    }

    p {
      font: normal normal normal 16px/19px Montserrat;
      letter-spacing: -0.16px;
      color: #656565;
    }

    button {
      width: 100px;
      height: 43px;
      background: var(--unnamed-color-58068c) 0% 0% no-repeat padding-box;
      background: #58068C 0% 0% no-repeat padding-box;
      border-radius: 3px;
    }
  }

  @media only screen and (max-width: 600px) {
    margin: 20px 16px;
  }
}
