<mat-tab-group dynamicHeight>

  <mat-tab *ngFor="let plan of examPlans" [label]="plan.title">
    <div class="list-box ">

      <div *ngIf="loading&&!plan.exams; else showExamList"
           style="width: 100%;display: flex;align-items: center;justify-content: center;height: 100%">
        <ion-spinner></ion-spinner>
      </div>

      <ng-template #showExamList>
        <mat-selection-list *ngFor="let section of plan.exams" [multiple]="false">
          <h3 matSubheader>{{section.type}}</h3>
          <mat-list-option *ngFor="let item of section.list" (click)="onExamSelect(item)" [value]="item.title">
            <h4 matLine>{{item.title}}</h4>
          </mat-list-option>
        </mat-selection-list>
      </ng-template>
    </div>
  </mat-tab>
</mat-tab-group>
