<app-header [pathsTree]="pathsTree"
            [subHeaderText3]="(examSessionData&&examSessionData.duration?examSessionData.duration:0)+' minutes left'"
            rightBtnTitle="Finish this Section" (rightBtnClick)="openDialog()"></app-header>

<div class="container-fluid dashboard-content-container has-subheader">
  <app-alert></app-alert>

  <div class="content">

    <div class="row practice-content">

      <div class="col-md-6 left-content">
        <ng-container
          *ngIf="examSectionSets && examSectionSets.length>=currentIndex&&examSectionSets[currentIndex].passage&&examSectionSets[currentIndex].passage.length>1; else demoPassage">
          <div class="passage" [innerHTML]="examSectionSets[currentIndex].passage"></div>
        </ng-container>
        <ng-template #demoPassage>
          <h1>Agriculture iron and Bantu people</h1>
          <p [innerHTML]="descriptionText"></p>
        </ng-template>
      </div>

      <div class="col-md-6 right-content">

        <ng-container *ngIf="examSectionSets && examSectionSets.length>0">
          <ng-container *ngFor="let item of examSectionSets[currentIndex].questions; let idx=index">

            <div class="question-count">
              Question {{(idx + 1) }} of {{examSectionSets[currentIndex].questions.length}}
            </div>

            <h2 class="question" [innerHTML]="item.text"></h2>
            <ion-img class="question-img" *ngIf="item && item.imageUri"
                     [src]="item.mediaUrl+item.imageUri"></ion-img>

            <!-- For Singleline text answer-->
            <ng-container
              *ngIf="item.typeId === EnumService.examQuestionTypes.VERIFIABLE_TEXT_SINGLE_LINE || item.typeId === EnumService.examQuestionTypes.UNVERIFIABLE_TEXT_SINGLE_LINE">

              <div class="form-group text-input">
                <label>Answer</label>
                <div class="input-group">
                  <ion-input class="form-control"
                             placeholder="Write your answer here..."
                             [(ngModel)]="item.answerInput"
                             [ngClass]="{ 'is-invalid': submitted  }"></ion-input>

                </div>
              </div>
            </ng-container>

            <!-- For multine text answer-->
            <ng-container
              *ngIf="item.typeId === EnumService.examQuestionTypes.VERIFIABLE_TEXT_MULTI_LINE || item.typeId === EnumService.examQuestionTypes.UNVERIFIABLE_TEXT_MULTI_LINE">

              <div class="form-group textarea-input">
                <label>Answer</label>
                <div class="input-group">
                <textarea id="message" class="form-control"
                          placeholder="Write your answer here..."
                          [(ngModel)]="item.answerInput"
                          [maxlength]="maxMessageLength"
                          [ngClass]="{ 'is-invalid': submitted  }"></textarea>

                  <div class="message-length">
                    {{(maxMessageLength - item.answer?.length)}}/{{maxMessageLength}} characters
                    remaining
                  </div>
                </div>
              </div>
            </ng-container>

            <!-- For Single/Multiple choice answer-->
            <ng-container
              *ngIf="item.typeId === EnumService.examQuestionTypes.MULTIPLE_CHOICE_SINGLE_SELECT || item.typeId === EnumService.examQuestionTypes.MULTIPLE_CHOICE_MULTIPLE_SELECT">


              <div class="answer-type">
                Choose {{(item.typeId === EnumService.examQuestionTypes.MULTIPLE_CHOICE_MULTIPLE_SELECT) ? 'multiple' : '1'}}
                answer
              </div>

              <ng-container *ngIf="item.typeId === EnumService.examQuestionTypes.MULTIPLE_CHOICE_SINGLE_SELECT">
                <app-answer-choice-item
                  *ngFor="let subItem of item.choices; let index=index"
                  [selected]="subItem.selected"
                  [index]="index"
                  [title]="subItem.text"
                  [imageUri]="subItem.imageUri"
                  (click)="singleChoiceItemSelect(item, subItem)"
                ></app-answer-choice-item>
              </ng-container>

              <ng-container *ngIf="item.typeId === EnumService.examQuestionTypes.MULTIPLE_CHOICE_MULTIPLE_SELECT">
                <app-answer-multiple-choice-item
                  *ngFor="let subItem of item.choices; index as id"
                  [selected]="subItem.selected"
                  [title]="subItem.text"
                  [imageUri]="subItem.imageUri"
                  (click)="subItem.selected=!subItem.selected"
                ></app-answer-multiple-choice-item>
              </ng-container>

            </ng-container>


            <!-- For drag and drop choice question-->
            <ng-container
              *ngIf="item.typeId === EnumService.examQuestionTypes.DRAG_DROP">
              <label>Answer Choices</label>
              <div class="answer-type" style="padding: 0">Drop your choices from here</div>

              <ion-item>

              </ion-item>

              <div class="example-container">
                <h2>To do</h2>

                <div
                  cdkDropList
                  #todoList="cdkDropList"
                  [cdkDropListData]="todo"
                  [cdkDropListConnectedTo]="[doneList]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
                </div>
              </div>

              <div class="example-container">
                <h2>Done</h2>

                <div
                  cdkDropList
                  #doneList="cdkDropList"
                  [cdkDropListData]="done"
                  [cdkDropListConnectedTo]="[todoList]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
                </div>
              </div>

            </ng-container>

          </ng-container>


          <!--          <ng-container *ngIf="item.questionType === 'video'">-->
          <!--            <iframe class="video-view" [src]="item.link | safe:'resourceUrl'" frameborder="0"-->
          <!--                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
          <!--                    allowfullscreen></iframe>-->
          <!--          </ng-container>-->

        </ng-container>

      </div>

    </div>

    <div class="row practice-footer">
      <button mat-button color="primary" (click)="onBack()">
        Directions
      </button>
      <div style="display: flex;flex:1;"></div>

      <button *ngIf="currentIndex>0" mat-button color="primary" (click)="onPrevious()">
        Back to
        question {{(currentIndex + 1) + "-" + (currentIndex * examSectionSets[currentIndex].questions.length)}}
      </button>


      <ng-container *ngIf="examSectionSets && examSectionSets.length>0">
        <button *ngIf="currentIndex === (examSectionSets.length-1); else nextPageBtn" mat-raised-button color="primary"
                (click)="openDialog()">
          Finish this Section
        </button>

        <ng-template #nextPageBtn>
          <button mat-raised-button color="primary" (click)="onNext()">
            Continue to
            question {{((currentIndex + 1)) + "-" + ((currentIndex + 1) * examSectionSets[currentIndex].questions.length)}}
          </button>
        </ng-template>
      </ng-container>

    </div>
  </div>
</div>

<app-footer></app-footer>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px',fullScreenBackdrop:true }"></ngx-loading>


