// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kallisprep-primary: mat-palette($mat-deep-purple);
$kallisprep-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$kallisprep-warn: mat-palette($mat-red);


// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$kallisprep-theme: mat-light-theme((
  color: (
    primary: $kallisprep-primary,
    accent: $kallisprep-accent,
    warn: $kallisprep-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($kallisprep-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

:root {
  --primary: #58068c; // or any global you wish to share with components
}


.mat-drawer-content {
  overflow-y: auto !important;
  max-height: 100vh;
}

.auth-content-container {
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  padding: 0;
  background-color: #FAFAFA;
  padding-top: 80px;

  .left-img {
    left: 0;
    width: 25vw;
    object-fit: contain;
  }

  .right-img {
    width: 22vw;
    object-fit: contain;
    right: 0;
  }
}


.dashboard-content-container {
  width: 100%;
  overflow: auto;
  padding: 0;
  background-color: #FAFAFA;
  padding-top: 64px;

  &.has-subheader {
    padding-top: 128px;
  }
}

* {
  font-family: 'Montserrat';
}



.mat-paginator-page-size-label {
  font-weight: 600 !important;
}

.mat-paginator-page-size-select {
  font-weight: 600 !important;
}

.mat-paginator-range-label {
  font-weight: 600 !important;
}

