<app-header></app-header>
<div class="container-fluid dashboard-content-container">

  <app-alert></app-alert>

  <div class="content">
    <div class="left-menu">
      <div class="list-group" *ngFor="let section of menuItems">
        <h3 matSubheader style="margin-bottom: 0;padding-bottom: 0;">{{section.title}}</h3>
        <button style="border: none;padding-left: 16px;" type="button" class="list-group-item list-group-item-action"
                [ngClass]="{'selected':selectedMenu.title==item.title}"
                *ngFor="let item of section.submenus" (click)="onItemSelect(item)">
          {{item.title}}
        </button>
      </div>

      <div style="flex:1"></div>

      <div class="list-group">
        <button style="border: none;padding-left: 16px;" type="button" class="list-group-item list-group-item-action">
          Settings
        </button>
        <button style="border: none;padding-left: 16px;" type="button" class="list-group-item list-group-item-action">
          Help
        </button>
        <button style="border: none;padding-left: 16px;color: #ff0000;" type="button"
                class="list-group-item list-group-item-action">
          Logout
        </button>
      </div>
    </div>

    <div class="right-content">
      <h1 class="menu-title">{{selectedMenu.title}}</h1>

      <ng-container *ngIf="selectedMenu.type === 'exam_history'; else myExamCourses">

        <!--        filter tool bar-->
        <div class="row filter-tool-bar">
          <div class="col-xs-12 col-sm-auto field-container">
            <input type="search" class="search-field" placeholder="Search exams" [(ngModel)]="examSearchTerm">
          </div>
          <div class="col-xs-12 col-sm-auto field-container">
            <div class="row">
              <div class="col-auto">
                <div class="input-group">
                  <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-dark" style="border-color: #ced4da" id="filterByDate"
                            ngbDropdownToggle>
                      {{selectedTime.title}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="filterByDate">
                      <button type="button" *ngFor="let item of filterTimesList" ngbDropdownItem>{{item.title}}</button>
                      <div class="dropdown-divider"></div>
                      <button type="button" ngbDropdownItem
                              style="display: flex;flex-direction: row;align-items: center;">
                        Jump to specific date
                        <mat-icon>chevron_right</mat-icon>
                      </button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-auto">
                <div class="input-group">
                  <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-dark" style="border-color: #ced4da" id="filterByExam"
                            ngbDropdownToggle>
                      {{selectedExam.title}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="filterByExam">
                      <button type="button" *ngFor="let item of filterExamList" ngbDropdownItem>{{item.title}}</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--        filter-toolbar-end  -->

        <ng-container *ngIf="myHistories[selectedMenu.apiDataKey] && myHistories[selectedMenu.apiDataKey].length>0">
          <table class="table exam-history-table">
            <thead>
            <tr>
              <th scope="col" sortable="name">Exams</th>
              <th scope="col" sortable="area">Date</th>
              <th scope="col" sortable="population">Score</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let exam of myHistories[selectedMenu.apiDataKey] | listFilter:examSearchTerm:'examTitle'">
              <td>
                <div class="exam-name">
                  <ngb-highlight [result]="exam.examTitle" [term]="examSearchTerm"></ngb-highlight>
                </div>
                <div class="exam-type">
                  <ngb-highlight [result]="exam.examType" [term]="examSearchTerm"></ngb-highlight>
                </div>
              </td>
              <td>
                <ngb-highlight [result]="exam.completedOn | date:'MMM dd,yyyy \'at\' hh:mm a'"
                               [term]="examSearchTerm"></ngb-highlight>
              </td>
              <td>
                <ngb-highlight [result]="exam.score | number" [term]="examSearchTerm"></ngb-highlight>
                %
              </td>
            </tr>
            </tbody>
          </table>


          <mat-paginator [length]="myHistories[selectedMenu.apiDataKey].length"
                         [pageSize]="examHistoryPagination.pageSize"
                         (page)="pageChange($event)"
                         [pageSizeOptions]="itemsPerPage">
          </mat-paginator>
        </ng-container>

      </ng-container>

      <ng-template #myExamCourses>
        <div class="row" *ngIf="myHistories && myHistories[selectedMenu.apiDataKey]">
          <div class="col-xs-12 col-sm-6" *ngFor="let keyvalue of myHistories[selectedMenu.apiDataKey] | keyvalue">
            <mat-card class="course-card">
              <mat-card-content>
                <mat-list>

                  <mat-list-item>
                    <div mat-line>{{keyvalue.key}}</div>
                    <!--                    <div mat-line class="price" *ngIf="item.price">-->
                    <!--                      Price: {{item.price + ' ' + item.currencyText}}-->
                    <!--                    </div>-->
                    <button mat-button color="primary" (click)="seeAll(keyvalue.key)">
                      See all
                    </button>
                  </mat-list-item>

                  <mat-divider></mat-divider>

                  <mat-list-item class="chapter-item" *ngFor="let item of keyvalue.value">
                    <div mat-line>{{item.name}}</div>
                    <button mat-raised-button color="primary" *ngIf="item.isStarted"
                            (click)="startExam(item)">
                      Resume
                    </button>

                    <button mat-raised-button color="primary" *ngIf="!item.isStarted"
                            (click)="startExam(item)">
                      Start
                    </button>

                    <!--                    <div class="completed" *ngIf="chapter.status === 'completed'">-->
                    <!--                      <mat-icon>check_circle</mat-icon>-->
                    <!--                      Completed-->
                    <!--                    </div>-->

                  </mat-list-item>
                </mat-list>
              </mat-card-content>
            </mat-card>
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-center">
            <mat-card class="add-course-card">
              <mat-card-content>
                <button class="add-new-btn" mat-button color="primary" (click)="openAddExamCourseDialog()">
                  <mat-icon>add_circle</mat-icon>
                </button>
                <button mat-button *ngIf="selectedMenu.type==='course'">
                  Add new course
                </button>
                <button mat-button *ngIf="selectedMenu.type==='exam'">
                  Add new exam
                </button>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </ng-template>

    </div>
  </div>

</div>

<app-footer></app-footer>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px',fullScreenBackdrop:true }"></ngx-loading>
