<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h2 mat-dialog-title>
    {{isEmailSent ? 'Email Sent' : 'Forgot Password?'}}
  </h2>
  <mat-dialog-content class="mat-typography">
    <div class="form-group">
      <ng-container *ngIf="!isEmailSent; else emailSentMessageView;">
        <label for="email">Enter your email address</label>
        <div class="input-group">
          <input type="email" id="email" class="form-control" placeholder="Email address" formControlName="email"
                 [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
          </div>
        </div>
      </ng-container>

      <ng-template #emailSentMessageView>
        <p class="text-wrap" style="max-width: 300px">
          {{emailSentMessage}}
        </p>
      </ng-template>
    </div>


  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <ng-container *ngIf="!isEmailSent; else emailSentBtns;">
      <button type="cancel" mat-button mat-dialog-close>Cancel</button>
      <button type="submit" [disabled]="loading" mat-raised-button color="primary"
              cdkFocusInitial>
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Recover Account
      </button>
    </ng-container>

    <ng-template #emailSentBtns>
      <button mat-raised-button color="primary" mat-dialog-close>
        Okay
      </button>
    </ng-template>
  </mat-dialog-actions>
</form>
